body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.head1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 20px;
    
}



.head2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(219, 94, 48);
}

.head3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    font-size: 50px;
    color: orangered;
}

.head4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color:white;
    text-align: center;
}
header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #f0f0f0;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('first background pic.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.page2{
    background-image: url('second background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.hero-content {
    flex: 1;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.movie {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.movie img {
    width: 100%;
}
.movie-image{
    height:300px;
}

.movie-name {
    font-family:monospace;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.para1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}
.partner-section {
    text-align: center;
    padding: 20px;
  }
  
  .partner-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .partner-logos img {
    width: 100px;
    height: auto;
    margin: 0 20px;
  }